*:before, *:after {
  content: "";
  position: absolute; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.pokeball {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 30px;
  border: 8px solid #333;
  box-shadow: inset -10px 10px 0 10px #ccc; }
  .pokeball .pokeball-btn {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    border: 5px solid #333;
    background-color: white;
    margin: 64px; }
    .pokeball .pokeball-btn::after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      content: "";
      position: absolute;
      border: 5px solid #333;
      background-color: #a2a2a2;
      margin: 7px; }
  .pokeball.red::before {
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    width: 200px;
    height: 90px;
    position: absolute;
    background-color: #e62327;
    border-bottom: 20px solid #333; }
  .pokeball.blue::before {
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    width: 200px;
    height: 90px;
    position: absolute;
    background-color: #478ecc;
    border-bottom: 20px solid #333; }
